<!DOCTYPE html>
<html>
    <head>
        <title>Admin Panel</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="~/COntent/cs1.css">
		
	</head>
	
	<body>
	
		<div id ="banner" >
		<h1 id="normhead">Admin Panel</h1>
		</div>
		
		<div id="nav">
			<h1 id="normhead" style="text-align:center">PK Airlines</h1>
			<br/><br/><br/><br/>
			<ul style="list-style-type:none">
				<li><a id="list1" href="MF.html">Manage Flights</a></li>
				<br/>
				<li><a id="list1" href="MJ.html">Manage Jets</a></li>
				<br/>
				<li><a id="list1" href="A.html">Announcements</a></li>
				<br/>
				<li><a id="list1" href="S.html">Settings</a></li>
				<br/>
				<li><a id="list1" href="logoutA.html">log Out</a></li>
				<br/>
				</ul>
		</div>
		
		<div id="main">
			<br/><br/><br/><br/>
			<h1 id="normhead2"> Welcome To the Admin Panel...</h1>
			
			<br/><br/><br/>
			<p>
			<h2>Report </h2>
			<br/>
				Month : 
			
				</br>
				Total Flights : 
				</br>
				Total Income :
			</p>
			
		</div>
	</body>
	
	
</html>